<% layout('layout') %>

<div class="row justify-content-center">
  <div class="col-auto">
    <h1>Store Manager</h1>
    <p class="text-center">Welcome to Store Manager</p>
    <div class="text-center">
      <a href="/products" class="btn btn-info">Products</a>
      <a href="/promotions" class="btn btn-warning">Promotions</a>
    </div>
  </div>
</div>
