<% layout('layout') %>

<h1>Beacon Manager</h1>
<p>Welcome to Beacon Manager</p>
<a href="/beacons" class="btn btn-primary">show beacons</a>
<a href="/beacons/create" class="btn btn-success">create beacon</a>
